{% extends 'Blog/base.html' %}

{% block body_block %}

<div class="panel-body">
       <img src="{{ post.icon.url }}" class="img-responsive">

    <h1>
        {{ post.title}}
        <small>{{ post.author }}</small>
    </h1>
    <h2> {{ post.categories }}</h2>
    <p>{{ post.content }}</p>
    <h3>{{  post.post_date }}</h3>
</div>

<h1>{{ comments.count }} Comment{{ comments|pluralize }} </h1>
{% for c in comments %}
    <p>{{ c.comment_text }}</p>
    <h3>Commented by: {{ c.user.username }} Commented on : {{ c.comment_date }}</h3>

    {% endfor %}


{% if user.is_authenticated %}
            <form method="POST" class="post-form">
                       {% csrf_token %}
                       {{ form.as_p}}
                    <button type="submit" class="save btn btn-default">comment</button>
            </form>

    {% endif %}
{% endblock %}