{% extends "Blog/base.html" %}
{% block body_block %}

    <div class="container">
          <div class="jumbotron">
            <h1>Welcome to the Djungle !</h1>
{% comment %}          {% if user.is_authenticated %}
                <h2>Hello {{ user.username }} Your Search is Ready</h2>
          {% else  %}
                <h2>Log In if You like to </h2>
          {% endif %}{% endcomment %}

    {% for context in results %}

        <div class="panel-body">
           <img src="{{ context.icon.url }}" class="img-responsive">
            <script>console.log({{ context.title }})</script>
            <h1>
                {{ context.title}}
                <small>{{ results.author }}</small>
            </h1>
        <h2> {{ context.categories }}</h2>
        <p>{{ context.content }}</p>
        <h3>{{  context.post_date }}</h3>
        </div>
              {% endfor %}
          </div>
    </div>
{% endblock %}
